/* Box-sizing global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {  
    background-color: #0c0c0c;
}

/* Header */
header {
    background-color: #8f0000;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #2e0000;
    margin-bottom: 20px;
}

header h1{
   font-size: 4rem; 
}

/* Gallery Flex Container */
.gallery {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* permite que las tarjetas se acomoden en varias filas */
    gap: 30px; /* espacio entre tarjetas */
    justify-content:center; /* centra las tarjetas en el contenedor */
    padding: 40px 20px 40px 20px; /* padding lateral y inferior */
    /*border: 2px solid red;*/
}

/* Tarjeta individual */
.card {
    background-color: white;
    border: 4px solid #5f5c5cc3;
    border-radius: 8px;
    flex: 1 1 200px; /* Permitimos que crezcan pero con un base de 200px */
    max-width: 230px; /* Evita que la imagen se estiren demasiado en pantallas grandes */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; /* la imagen no se saldrá de los bordes */
}

/* Hover efecto */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(94, 0, 0, 0.678);
}

/* Imagen de la tarjeta */
.card img {
    width: 100%;
    height: 200px; /* Forzamos una altura fija para todas las imagenes */
    object-fit:cover; /* Corta la imagen para que llene la caja sin estirarse */
    object-position: center; /* Centra el recorte */
}

/* Título y descripción */
.card h3 {
    margin: 15px 0 10px 0;
    font-size: 1.8rem;
    color: #333;
}

.card p {
    padding: 0 15px 15px 15px;
    font-size: 1.5rem;
    color: #666;
}

/* Footer */
footer {
    background-color: #8f0000;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #2e0000;
    margin-top: 20px;
}